.table {
    //text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: $primary-colour;
    color: white;
  }